<!DOCTYPE html>
 
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bitcoin Rate Dashboard</title>
</head>
<body>
     <center>
     <h1>Bitcoin Metrics Dashboard</h1>
     <img src="data:image/png;base64,{{ plot_url }}" alt="Bitcoin Metrics Plot">

          <h2>Bitcoin Trade Volume vs Transaction Volume Ratio and Market Price Analysis</h2>
          <p>Understanding the Bitcoin Trade Volume vs Transaction Volume Ratio alongside the Bitcoin Market Price provides valuable insight into market behavior.</p>

          <p><b>Trade Volume vs Transaction Volume Ratio:</b> This ratio indicates the average value of a Bitcoin transaction. It is calculated by dividing Bitcoin’s total market price (MKPRU) by the total transaction volume (TXVOL).</p>

          <p><b>Trends:</b> The chart reveals that this ratio fluctuates over time, with higher values suggesting larger average transaction sizes, and lower values indicating smaller transaction sizes.</p>

          <p><b>Bitcoin Market Price:</b> This represents Bitcoin's price at a specific time, generally measured in a local currency (e.g., USD).</p>

          <p><b>Trends:</b> The Bitcoin market price has shown high volatility, with steep price increases often followed by sharp declines, highlighting the market's dynamic nature.</p>
        


       
     </center>
</body>
</html>
